p {
    color: red;
    background-color: #ffee00;
}

h1 {
    color: #00cc33;
}

h2 {
    color: #990099;
}

li {
    color: #009900;
}

.description {
    color: #404040;
    background-color: #aaffaa;
}